body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f1f5fa; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button_outline {
  padding: 7px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms all;
}
.button_outline.light {
  background-color: #f1f5fa;
  color: #333;
  border: 1px solid rgba(51, 51, 51, 0.294);
}
.button_outline.light:hover {
  background-color: #fff;
}
.button_outline.dark {
  background: #333;
  color: #fff;
  border: 1px solid #fff;
}
.button_outline.dark:hover {
  background: rgba(0, 0, 0, 0.541);
}

.align-baseline {
  align-self: baseline;
}

.sidebar {
  position: fixed;
  width: 373px;
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
}